/* 08.02.2021 */
/*Generales*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
  /*  margin-left:13px;*/
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active{
    background:#ff7c3f!important;    
}

.jumbotron{
    padding:20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}

.user-image-acc>img{
    max-width: 100%;
}

/*Cabecera*/
.navigation{
    margin: 0px;
    padding: 0px !important;
    background-color: orange!important;
    float: none !important;

}

.navigation .navbar-default .navbar-nav .dropdown .dropdown-menu>li *{
    color:  orange!important;

}
.navigation .navbar{
    border-radius: 0px !important;
    background-color: orange!important;
    border: none !important;
}

.navigation .navbar *{
    color: white !important;
}


.navigation .navbar a:hover{
    background:#ff7c3f!important;    
}


.navigation .navbar  .dropdown-menu a:hover{
    background:white!important;    
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background:#ff7c3f!important;    
    
}

.pointer{
    cursor: pointer;
}

.avatar>img{
    height: auto;
    width: 38px;
}

.avatar{
    border-radius: 100%;
    height: 35px;
    width: 35px;
    overflow: hidden;
    margin-top: 7px;
    margin-right: 2px;
}