<div id="publications">
    <div *ngFor="let publication of publications" class="item-publication">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="image-user pull-left avatar-list">
                    <a class="panel-user" href="#">
                        <img src="{{ url+'get-image-user/'+publication.user.image}}" *ngIf="publication.user.image" />
                        <img src="assets/resources/user.png" *ngIf="!publication.user.image" />
                    </a>
                </div>
                <h4>{{publication.user.nick+' ('+publication.user.name+' '+publication.user.surname+')'}}<span>{{(publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</span></h4>
                <div class="publication-text pull-left">
                    {{publication.text}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-scroll col-lg-12 text-center">
    <button (click)="viewMore()" *ngIf="!noMore" class="btn btn-success">Ver más</button>
</div>